<?xml version="1.0"?>
<config>
    <modules>
        <Magestore_Lesson05>
            <version>0.1.0</version>
        </Magestore_Lesson05>
    </modules>
    <frontend>
        <routers>
            <lesson05>
                <use>standard</use>
                <args>
                    <module>Magestore_Lesson05</module>
                    <frontName>lesson05</frontName>
                </args>
            </lesson05>
        </routers>
        <layout>
            <updates>
                <lesson05>
                    <file>lesson05.xml</file>
                </lesson05>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <lesson05>
                <class>Magestore_Lesson05_Model</class>
                <resourceModel>lesson05_mysql4</resourceModel>
            </lesson05>
            <lesson05_mysql4>
                <class>Magestore_Lesson05_Model_Mysql4</class>
                <entities>
                    <lesson05>
                        <table>lesson05</table>
                    </lesson05>
                </entities>
            </lesson05_mysql4>
        </models>
        <resources>
            <lesson05_setup>
                <setup>
                    <module>Magestore_Lesson05</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </lesson05_setup>
            <lesson05_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </lesson05_write>
            <lesson05_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </lesson05_read>
        </resources>
        <blocks>
            <lesson05>
                <class>Magestore_Lesson05_Block</class>
            </lesson05>
        </blocks>
        <helpers>
            <lesson05>
                <class>Magestore_Lesson05_Helper</class>
            </lesson05>
        </helpers>
    </global>
</config>