<?xml version="1.0"?>
<config>
    <modules>
        <Sttl_Silverbrand>
            <version>0.1.0</version>
        </Sttl_Silverbrand>
    </modules>
    <frontend>
        <routers>
            <silverbrand>
                <use>standard</use>
                <args>
                    <module>Sttl_Silverbrand</module>
                    <frontName>silverbrand</frontName>
                </args>
            </silverbrand>
        </routers>
        <layout>
            <updates>
                <silverbrand>
                    <file>silverbrand.xml</file>
                </silverbrand>
            </updates>
        </layout>
    </frontend>
	<global>
        <blocks>
            <silverbrand>
                <class>Sttl_Silverbrand_Block</class>
            </silverbrand>
        </blocks>        
		<helpers>
            <silverbrand>
                <class>Sttl_Silverbrand_Helper</class>
            </silverbrand>
        </helpers>        
    </global>
</config>
