<?xml version="1.0"?>
<config>
    <modules>
        <Singpost_Profile>
            <version>0.1.0</version>
        </Singpost_Profile>
    </modules>
    <frontend>
        <routers>
            <profile>
                <use>standard</use>
                <args>
                    <module>Singpost_Profile</module>
                    <frontName>profile</frontName>
                </args>
            </profile>
        </routers>
        <layout>
            <updates>
                <profile>
                    <file>singpostprofile.xml</file>
                </profile>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <profile>
                <class>Singpost_Profile_Model</class>
                <resourceModel>Profile_mysql4</resourceModel>
            </profile>
            <profile_mysql4>
                <class>Singpost_Profile_Model_Mysql4</class>
                <entities>
                    <profile>
                        <table>profile</table>
                    </profile>
                </entities>
            </profile_mysql4>
        </models>
        <resources>
            <profile_setup>
                <setup>
                    <module>Singpost_Profile</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </profile_setup>
            <profile_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </profile_write>
            <profile_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </profile_read>
        </resources>
        <blocks>
        	<!-- <adminhtml>
				<rewrite>
					<customer_edit>Singpost_Profile_Block_Adminhtml_Customer_Edit</customer_edit>
				</rewrite>
			</adminhtml> -->
            <profile>
                <class>Singpost_Profile_Block</class>
            </profile>
        </blocks>
        <helpers>
            <profile>
                <class>Singpost_Profile_Helper</class>
            </profile>
        </helpers>
    </global>
</config>