<?xml version="1.0"?>
<config>
    <modules>
        <Singpost_Login>
            <version>0.1.0</version>
        </Singpost_Login>
    </modules>
    <frontend>
        <routers>
            <flag>
                <use>standard</use>
                <args>
                    <module>Singpost_Login</module>
                    <frontName>login</frontName>
                </args>
            </flag>
        </routers>
        <layout>
            <updates>
                <flag>
                    <file>persistent.xml</file>
                </flag>
            </updates>
        </layout>
        <routers>
            <customer>
                <args>
                    <modules>
                        <Singpost_Login before="Mage_Customer">Singpost_Login</Singpost_Login>
                    </modules>
                </args>
            </customer>
        </routers>
    </frontend>
    <global>
    <models>
        <singpost_login>
            <class>Singpost_Login_Model</class>
            <resourceModel>singpost_login_mysql4</resourceModel>
        </singpost_login>
        <singpost_login_mysql4>
            <class>Singpost_Login_Model_Mysql4</class>
            <entities>
                <profile>
                    <table>webforms_results</table>
                </profile>
            </entities>
        </singpost_login_mysql4>   
    </models>
     <blocks>
		<singpost_login>
			<class>Singpost_Login_Block</class>
		</singpost_login>
	 </blocks>
	 <helpers>
		<login>
		    <class>Singpost_Login_Helper</class>
		</login>
	</helpers>
    </global>
</config>