<?xml version="1.0"?>
<config>
	<modules>
		<VladimirPopov_WebFormsProccessResult>
			<version>1.0.0</version>
		</VladimirPopov_WebFormsProccessResult>
	</modules>
	<adminhtml>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
			</resources>
		</acl>
	</adminhtml>
	<global>
		<models>
			<webformsproccessresult>
				<class>VladimirPopov_WebFormsProccessResult_Model</class>
			</webformsproccessresult>
		</models>
		<events>
			<webforms_result_submit>
				<observers>
					<webformsreviews_result_submit_observer>
						<type>singleton</type>
						<class>VladimirPopov_WebFormsProccessResult_Model_Observer</class>
						<method>exportXML</method>
					</webformsreviews_result_submit_observer>
				</observers>
			</webforms_result_submit>
		</events>
	</global>
</config>