<?xml version="1.0"?>
<config>
    <modules>
        <Intell_Customer>
            <version>1.1.0</version>
        </Intell_Customer>
    </modules>
    <frontend>
        <routers>
            <customer>
                <args>
                    <modules>
                        <intell_customer before="Mage_Customer">Intell_Customer</intell_customer>
                    </modules>
                </args>
            </customer>
        </routers>
    </frontend>    
    <global>  
        <helpers>
            <intell>
                <class>Intell_Customer_Helper</class>
            </intell>
        </helpers>
    </global>
</config>
