<?xml version="1.0"?>
<config>
    <modules>
        <Ranvi_Cartrescuer>
            <version>0.1.4</version>
        </Ranvi_Cartrescuer>
    </modules>
    <frontend>
        <routers>
            <cartrescuer>
                <use>standard</use>
                <args>
                    <module>Ranvi_Cartrescuer</module>
                    <frontName>cartrescuer</frontName>
                </args>
            </cartrescuer>
        </routers>
        <layout>
            <updates>
                <cartrescuer>
                    <file>cartrescuer.xml</file>
                </cartrescuer>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<cartrescuer>
				<use>admin</use>
				<args>
					<module>Ranvi_Cartrescuer</module>
					<frontName>ranvi_cartrescuer</frontName>
				</args>
			</cartrescuer>
        </routers>
    </admin>
    <global>
        <helpers>
            <cartrescuer>
                <class>Ranvi_Cartrescuer_Helper</class>
            </cartrescuer>
        </helpers>
    </global>
    <default>
        <cartrescuer>
            <settings>
                <cartrescuer_loginusernamekey>login[username]</cartrescuer_loginusernamekey>
            </settings>
        </cartrescuer>
    </default>
</config>